.listItem:hover,
.listItemSell:hover,
.listItemBuy:hover {
    background: #FDD835;
}

.listItemSell {
    background: #ffcdd2;
}

.listItemBuy {
    background: #C8E6C9;
}

.listItem:hover hr,
.listItemSell:hover hr,
.listItemBuy:hover hr {
    color: #1976D2;
    width: 96%;
}

.listItem hr,
.listItemSell hr,
.listItemBuy hr {
    transition: 0.2s;
    width: 94%;
    margin-top: -1px;
}

.listItem,
.listItemSell,
.listItemBuy {
    height: 50px;
    cursor: pointer;
}

.stock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stockImg img {
    width: 35px;
    height: 35px;
    border-radius: 200px;
    margin: 5px 6px;
}

.stockInfoLeft {
    padding: 0 5px;
}

.stockName {
    font-size: 15px;
    letter-spacing: 0.5px;
}

.stockCount {
    font-size: 10px;
    letter-spacing: 0.5px;
}

.stockInfoRight {
    padding: 0 5px;
    text-align: right;
}

.stockPrice {
    font-size: 15px;
    letter-spacing: 0.5px;
}

.stockDate {
    font-size: 13px;
    letter-spacing: 0.5px;
}

.stockHistory {
    font-size: 10px;
}

.stockInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
