.portfolio{
    width: 300px;
    text-align: left;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    position: relative;
    box-sizing: content-box;
}
.portfolio .footer{
    background: #545355;
    width: 300px;
    position: absolute;
    bottom: 0px;
    padding: 5px 10px ;
    color: white;
    height: 25px;
    box-sizing: content-box;
}
.sum {
   position: absolute;
    right: 30px;
}
.portfolio  .stocksList{
    background: #f4f4f4;
    min-height: 300px;
    overflow: auto;
    height: 400px;
    margin-bottom: 25px;
}

