.stockList{
    width: 300px;
    text-align: left;
    overflow: hidden;
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    box-sizing: content-box;
}

.navigation{
    background: #545355;
    position: absolute;
    bottom: 0px;
    width: 300px;
    padding: 5px 10px ;
    color: white;
    height: 30px;
    text-align: center;
    box-sizing: content-box;
}

.stockListList{
    background: #f4f4f4;
    min-height: 300px;
    overflow: auto;
    height: auto;
    max-height: 600px;
    margin-bottom: 40px;
}
.search-box{
    background: white;
    height: 45px;
    width: 100%;
}
.search-box input{
    height: 100%;
    width: 80%;
    padding: 0px 10px;
    border: 0px;
}
.searchButton{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 0px;
    margin-left: -40px;
    color: #545355;
    background: white;
    transition: 0.5s;
}
.searchButton:hover {
    background: #f1f1f1;
}
.countButton{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #545355;
    background: white;
    transition: 0.5s;
    margin-left: 5px;
    border: 2px solid #f1f1f1;
}
.countButton:hover {
    background: #f1f1f1;
}
.navigation button{
    border-radius: 100px;
    border-width: 0px;
    padding: 5px 10px;
    margin-right: 10px;
    background: white;
    width: 100px;
}
.navigation button:hover{
    border-radius: 100px;
    border-width: 0px;
    padding: 5px 10px;
    margin-right: 10px;
    background: #e6e6e6
}

