.stockInf{
    width: 300px;
    text-align: left;
    overflow: hidden;
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    box-sizing: content-box;
}

.footer1{
    background: #545355;
    position: absolute;
    width: 300px;
    padding: 5px 10px ;
    color: white;
    height: 10%;
    bottom: 0px;
}
.info{
    background: #f4f4f4;
    min-height: 40px;
    height: 60px;
    width: 100%;
    text-align: right;
    box-sizing: content-box;
}
.chart_div{
    background: white;
    height: 250px;
    margin-bottom: 45px;
    position: relative;
}
.chart_div select{
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
}

.closeButton{
    background: #545355;
    margin-right: 20px;
    color: white;
    align-self: center;
    font-weight: normal;

}
.fa-times{
    transition: 0.3s;
}
.closeButton:hover .fa-times{
    color: #ffdd2d;
}

.footer1 button{
    border-width: 0px;
    padding: 3px 10px;
    margin: 0px 10px;
    background: white;
}
.footer1 button:hover{
    background: #e6e6e6;
}
.stockInfoName{
    padding-top: 5px;
    margin-right: 20px;
    font-size: 20px;
}
.stockInfoPrice{
    margin-right: 20px;
    font-size: 13px;
}
