.history{
    width: 300px;
    height: 500px;
    text-align: left;
    overflow: hidden;
    box-shadow: 5px 5px 5px #000000b3;
}
.head{
    width: 100%;
    background: #545355;
    padding: 5px 10px ;
    position: relative;
    color: white;
    height: 5%;
}
.balance{
    background: #545355;
    position: relative;
    padding: 5px 10px ;
    color: white;
    height: 10%;
}
.stocksList{
    background: #ffdd2d;
    min-height: 300px;
    overflow: auto;
    height: 86%;
}
