.history {
    width: 300px;
    text-align: left;
    overflow: hidden;
    box-shadow: 5px 5px 5px #000000b3;
    position: relative;
}

.history .navigation {
    background: #424242;
    position: absolute;
    bottom: 0px;
    width: 300px;
    padding: 5px 10px;
    color: white;
    height: 30px;
    text-align: center;
    box-sizing: content-box;
}

.historyList {
    background: #EEEEEE;
    min-height: 300px;
    overflow: auto;
    height: 300px;
    margin-bottom: 40px;
}
