.table{
}
.header{
    color: white;
    padding: 5px 10px ;
    font-size: 30px;
    font-weight: bold;
    background: #487eb0;
    height: 70px;
    z-index: 2000;
    box-shadow: 0px 5px 5px #000000b3;
}
.content{
}
.loader{
    position: absolute;
    top: 50%;
    right: 50%;
}
.user img{
    width: 40px;
    height: 40px;
}
